<div class="spacing jumbotron">
  <p> There is a payment system with Stripe on this site. Please use a fake credit card to play around with!
    <ul>
      <li>Visa: 4242 4242 4242 4242 </li>
      <li>MasterCard: 5555 5555 5555 4444 </li>
    </ul>
  </p>
</div>