<!-- app/views/wikis/_index.html.erb -->

<h1> Welcome, <%= current_user.name %> </h1>

<div class="spacing">
  Wiki Control Panel
</div>


<div class="spacing">
  <% if user.wikis %>
    <table class="table borderless spacing">
      Wiki Name
      <% user.wikis.each do |wiki| %>
        <tr>
          <td> <%= link_to wiki.name, wiki_path(wiki) %> </td>
          <td> Owner </td>
        </tr>
      <% end %>
    </table>
  <% else %>
  <div class="spacing">
    You don't have any wikis you're managing right now, create one now!
  </div>
  <div class="spacing">
    <%= link_to "Create new Wiki", new_wiki_path, class: 'btn btn-success' %>
  </div>
  <% end %>
</div>

<div class="spacing">
  <% if current_user.role?(:premium) %>
    <p> Thanks for your support by subscribing as a premium user! <br>
        You can view your current subscription plan here <br>

        <!-- link_to "View my subscription plan", edit_subscription_path, class: 'btn btn-info' -->
    </p>
  <% else %>
    <p> Support us by subscribing today as a premium user! <br>
        Your subscription will help us keep our servers running and food on our plate!<br>
        Thanks in anticipation!<br>
        <%= link_to "I'd like to be a Premium user!", new_subscription_path, class: 'btn btn-info' %>
    </p>
  <% end %>
</div>