<!-- app/views/wikis/show.html.erb -->

<h1><%= @wiki.name %></h1>

<% if policy(@wiki).create? %>
  <%= link_to "Edit Main Page", edit_wiki_path, class: 'btn btn-success' %>
  <%= link_to "Create New Page", new_wiki_page_path, class: 'btn btn-success' %>
<% end %>

<%= @wiki.description %></h2>

<p>Latest Activity</p>